<section class="container-fluid">
  <div class="row d-flex justify-content-end align-items-center mb-3">
    <div class="col-auto">
      <p-button
        [styleClass]="'w-100'"
        (click)="visible = true"
        [raised]="true"
        label="New doctor"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p-table
        [value]="doctors"
        [paginator]="true"
        [rows]="5"
        [rowsPerPageOptions]="[5, 10, 20]"
        responsiveLayout="scroll"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>Full Name</th>
            <th>Birthday</th>
            <th>Specialty</th>
            <th>Professional License</th>
            <th>Telephone</th>
            <th>Email</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-doctor>
          <tr>
            <td>{{ doctor.fullName }}</td>
            <td>{{ doctor.birthday | date }}</td>
            <td>{{ doctor.specialty }}</td>
            <td>{{ doctor.professionalLicense }}</td>
            <td>{{ doctor.telephone }}</td>
            <td>{{ doctor.email }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</section>

<app-doctor-form-dialog
  [visible]="visible"
  (visibleChange)="handleDoctorDialog($event)"
></app-doctor-form-dialog>
