<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="container">
          <div class="row mb-3">
            <div class="col-12">
              <label for="fullName" class="form-label">Full name</label>
              <input type="text" class="form-control" name="fullName" id="fullName" formControlName="fullName" />
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-12">
              <label for="birthday" class="form-label">Birth day</label>
              <input type="text" class="form-control" name="birthday" id="birthday" formControlName="birthday" />
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-12">
              <label for="specialty" class="form-label">Specialty</label>
              <input type="text" class="form-control" name="specialty" id="specialty" formControlName="specialty" />
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-12">
              <label for="professionalLicense" class="form-label">Professional license</label>
              <input type="text" class="form-control" name="professionalLicense" id="professionalLicense" formControlName="professionalLicense" />
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-12">
              <label for="telephone" class="form-label">Telephone</label>
              <input type="text" class="form-control" name="telephone" id="telephone" formControlName="telephone" />
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-12">
              <label for="email" class="form-label">Email</label>
              <input type="text" class="form-control" name="email" id="email" formControlName="email" />
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div>