<p-dialog
  header="New doctor"
  [(visible)]="visible"
  (onHide)="onDialogHide()"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  [breakpoints]="{ '575px': '95vw' }"
  [style]="{ width: '45vw', height: '80vh' }"
>
  <form class="container">
    <div class="row mb-3">
      <div class="col-12">
        <p-floatlabel variant="in">
          <input
            pInputText
            class="w-100"
            id="fullName"
            formControlName="fullName"
            autocomplete="off"
          />
          <label for="fullName">Full Name</label>
        </p-floatlabel>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-12">
        <p-floatlabel variant="in">
          <p-datepicker
            [numberOfMonths]="1"
            [style]="{ width: '100%' }"
            [inputStyle]="{ width: '100%' }"
            id="birthday"
            formControlName="birthday"
          />
          <label for="birthday">Birth Day</label>
        </p-floatlabel>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-12">
        <p-floatlabel variant="in">
          <input
            pInputText
            class="w-100"
            id="specialty"
            formControlName="specialty"
            autocomplete="off"
          />
          <label for="specialty">Specialty</label>
        </p-floatlabel>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-12">
        <p-floatlabel variant="in">
          <input
            pInputText
            class="w-100"
            id="professionalLicense"
            formControlName="professionalLicense"
            autocomplete="off"
          />
          <label for="professionalLicense">Professional License</label>
        </p-floatlabel>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-12">
        <p-floatlabel variant="in">
          <input
            pInputText
            class="w-100"
            id="telephone"
            formControlName="telephone"
            autocomplete="off"
          />
          <label for="telephone">Telephone</label>
        </p-floatlabel>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-12">
        <p-floatlabel variant="in">
          <input
            pInputText
            class="w-100"
            id="email"
            formControlName="email"
            autocomplete="off"
          />
          <label for="email">Email</label>
        </p-floatlabel>
      </div>
    </div>
  </form>
</p-dialog>